/* .board-card {
  align-items: center;
  border: 1px solid #44d9e8;
  border-radius: 10px;
  margin: 25px;
  box-shadow: inset 0 0 15px #44d9e8, 0 0 15px #44d9e8;
} */

/* .board-icon {
  font-size: 1.5rem;
} */

/* Specific Text Styling */

.page-header-text {
  color: #4666ff;
  text-shadow: 0 0 10px #4666ff, 0 0 20px #4666ff, 0 0 30px #4666ff;
  font-family: 'Rock Salt', cursive;
  text-align: center;
  margin-bottom: 20px;
}

.neonText {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff;
  font-family: 'Rock Salt', cursive;
  font-weight: bold;
}

.userText {
  color: #4666ff;
  text-shadow: 0 0 10px #4666ff, 0 0 20px #4666ff, 0 0 30px #4666ff;
  font-family: 'Permanent Marker', cursive;
  font-weight: bold;
  font-size: 18px;
}

/* Board Styling */

.board-card {
  background-color: #8a2be2;
  border-radius: 10px;
  box-shadow: 0 0 15px 5px #fff, 0 0 15px 10px #8a2be2;
  padding-bottom: 20px;
  margin: 20px auto;
  align-items: center;
  transition: all 0.3s linear;
}

.board-card:hover {
    background-color: purple;
}

/* Buttons */

.glow-button {
  cursor: pointer;
  font-size: 30px;
  padding: 5px;
  text-align: center;
  color: rgb(230, 0, 120);
  background-color: transparent;
  border-radius: 10px;
  border: 3px solid rgb(0, 180, 230);
  font-weight: bold;
  transition: all 0.3s ease-in-out 0s;
}

.glow-button:hover {
  box-shadow: 0 0 15px -1px rgb(0, 180, 230),
    0 0 12px -1px rgb(0, 180, 230) inset;
  text-shadow: 0 0 15px rgb(230, 0, 120), 0 0 25px rgb(230, 0, 120);
  text-decoration: none;
  color: rgb(230, 0, 120);
  transform: translateY(-5px);
}

.like-btn,
.table-btn > button {
  border: none;
  background: none;
}

.like-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  transition: all 0.3s ease-in-out 0s;
}

.play-btn {
  background-color: rgba(100, 65, 165, 0.7);
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  transition: all 0.3s ease-in-out 0s;
}

.play-btn:hover {
  font-weight: bold;
  box-shadow: 0 0 20px #fff, 0 0 30px #4666ff, 0 0 40px #4666ff,
    0 0 50px #4666ff, 0 0 60px #4666ff, 0 0 70px #4666ff, 0 0 80px #4666ff;
  background-color: rgba(100, 65, 165, 0.3);
}

.table-btn a + a {
  margin-left: 20px;
}

.table-btn a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s ease-in-out 0s;
  font-size: 24px;
}

.table-btn a:hover {
  color: #fff;
  transform: translateY(-7px);
}

.delete-btn:hover {
  color: red !important;
  text-shadow: 0 0 7px red, 0 0 10px red;
}

.play-btn:active,
.like-btn:active {
  transform: scale(0.95);
}

.backBtn {
  font-family: cursive;
  text-decoration: none;
  text-shadow: none;
  display: inline-block;
  margin-bottom: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.backBtn:hover {
  transform: translateY(-5px);
  color: yellow !important;
  text-shadow: 0 0 5px rgba(255, 0, 49, 0.7);
}

.score {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.liked,
.liked i {
  color: orange;
}

.filter-field {
  background-color: transparent;
  border: none;
  color: white;
  font-family: cursive;
  outline: none;
  text-align: center;
}

.filter-field:focus {
  border-bottom: 3px solid white;
}

.audioBtn {
    background: none;
    border: none;
    font-size: 50px;
    color: white;
    transition: all 0.3s ease-in-out;
}

.highlight {
    text-shadow: 0 0 7px #fff, 0 0 10px #fff;
    transform: translateY(-7px);
}

.res-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .res-flex-column {
        flex-direction: column;
    }
}