.board-card {
  align-items: center;
  border: 1px solid #44d9e8;
  border-radius: 10px;
  margin: 25px;
  box-shadow: inset 0 0 15px #44d9e8, 0 0 15px #44d9e8;

}

.board-icon{
    font-size: 1.5rem;
}



.likeBtn,
.tableBtn > button {
  border: none;
  background: none;
}

.playBtn {
  border-radius: 50%;
}
