/* Provide sufficient contrast against white background */
a {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff;
}

a:hover {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #4666ff, 0 0 40px #4666ff,
    0 0 50px #4666ff, 0 0 60px #4666ff, 0 0 70px #4666ff;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
  background: linear-gradient(#2a0845, #6441a5) no-repeat fixed;
  color: white;
}

.nav {
  /*background-color: rgb(112,66,195);*/
  background-color: rgba(100, 65, 165, 0.3);
  border-bottom: 1px solid rgba(255, 16, 240, 0.8);
  box-shadow: 0 8px 25px rgba(255, 16, 240, 0.8),
    0 0 4px rgba(255, 16, 240, 0.8);
  color: white;
  margin-bottom: 50px;
}

.nav ul a,
#monthAndYear,
tr {
  color: white !important;
  text-shadow: 0 0 4px rgb(255, 255, 255, 0.75),
    0 0 5px rgb(255, 255, 255, 0.55), 0 0 0.5rem rgb(255, 255, 255, 0.35),
    0 0 2rem rgb(255, 255, 255, 0.17);
}

.form-group {
  margin-bottom: 20px;
}

.weekCol {
  width: 14%;
  border: none;
  background-color: #ea39b8 !important;
  /*background-color: #f0f !important;*/
}

.card thead tr {
  border: none;
}

.dayCol {
  width: 14%;
  vertical-align: top;
}

.colTop {
  border-top: none;
}

.colLeft {
  border-left: none;
}

.colBottom {
  border-bottom: none;
}

.colRight {
  border-right: none;
}

.calRow {
  height: 16.66%;
}

.card,
.table {
  color: white;
}

.calDisabled {
  opacity: 0.5;
}

#calendar-body {
  height: 75vh;
  border-top: 1px;
}

.dateToday {
  box-shadow: inset 0 0 50px #fff, inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff;
  /*0 0 50px #fff,*/
  /*-10px 0 80px #f0f,*/
  /*10px 0 80px #0ff;*/
}

.card .table {
  margin: 0;
}

.card {
  background-color: transparent;
  top: -15px;
}

.card-icons {
  position: relative;
  text-align: right;
  font-size: 1.75rem;
}

.bi-arrow-left-short:hover,
.bi-arrow-right-short:hover {
  color: red;
}

.show{
    display: block !important;
}

.calendar-event {
    font-family: 'Comic Sans MS';
    background-color: red;
    border-bottom: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-align: center;
}

.calendar-event:hover {
    color: red;
    background-color: white;
}

.fa-6x {
    font-size: 6em;
}

.section-header{
    text-align: center;
    padding-bottom: 60px;
}

.section-glow-border {
    border: 2px solid rgba(234, 57, 184, 1);
    box-shadow: 0 0 25px rgba(234, 57, 184, .9), 0 0 50px rgba(234, 57, 184, .4);
    padding-bottom: 20px;
    border-radius: 5px;
}

.glow-border {
    margin: 10px;
    border: 2px solid rgba(68, 217, 232, 1);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(68, 217, 232, .9), 0 0 20px rgba(68, 217, 232, .4);
    padding: 5px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.glow-border:hover {
    background-color: rgba(68, 135, 232, .9);
    transform: scale(1.3);
}

.glow-border a {
    font-family: 'Permanent Marker', cursive;
    display: inline-block;
    color: rgba(233, 50, 50, .9);
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

.glow-border a:hover {
    transform: scale(1.25);
}

.blue-glow {
    color: rgba(68, 217, 232, 1);
    text-shadow: 0 0 10px rgba(68, 217, 232, .9), 0 0 20px rgba(68, 217, 232, .4);
}

.pink-glow {
    color: rgba(234, 57, 184, 1);
    text-shadow: 0 0 10px rgba(234, 57, 184, .9), 0 0 20px rgba(234, 57, 184, .4);
}

section{
    margin-bottom: 60px;
}

.hero,
.glow-border,
.section-glow-border{
    font-family: cursive;

}

